@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Milonga);
@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
*{
	padding:0;
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-weight:lighter;
	font-size:18px;
	box-sizing: border-box;

}
.active{
	background:black;
	border:5px solid $bg-celeste;
	color: white;
}
.w-100{
	width: 100%;

}
.pt-100{
	padding-top: 100px;

}
.main{
	padding-top: 50px;
	//height: 100vh;

}
hr{
	margin:0;
}

a:hover{
	text-decoration: none;
}
.pd-50{
	margin-top: 50px;
}
.pb-50{
	margin-bottom: 50px;
}
.title{
	color:$bg-celeste;
	font-family: $titulo-font;
	font-size: 3rem;
	//padding-bottom: 30px;
}
