.navbar-fixed-top{
	background:$bg-color;
}
.header{
	background:$bg-celeste;
	color:$text-white;
}
.icon-bar{
	background:$bg-celeste;
}
.navbar-brand{
	padding:5px;
	.logo{
		height: 50px;
		width: 50px;
		display: inline-block;
    	background-size: 70%;
    	margin-top: -5px;
    	
    	background-repeat: no-repeat;
    	background-position: center;
    	border-radius: 0  100% 0  100% / 60%;
    		}
}
#contendor{
	img{
		width: 50%;
	}
}
.logo-inver1{
	background-image: url(../img/SARITA-IN.png);
	box-shadow: 10px 15px 10px #3A6F77;
	background-color: $text-white;

}
.inver1{
	color: $bg-celeste;
}

.nav {
	li{
		.link-header{
		color: white;
		font-weight: lighter;
		font-family: 'Roboto';
		font-size: 17px;
		}
	 	a:hover{
	 	color: $bg-celeste;
		background: white;
	 	}
	 }
}
.logo-inver{
	background-image: url(../img/SARITA-02.png);
	background-color: #fff;
	//box-shadow: 10px 15px 10px  $bg-celeste;
}
.navbar-nav{
	transform: translateX(0%);
	transition: all 0.8s ease-in-out;
}
.navbar-toggle{
	margin-top: 18px;
	margin-bottom: -16px;
}
.navbar-toggle:hover {
	cursor: pointer; 
}
.navbar-toggle.open .icon-bar {
	background: #fff; 
}
.navbar-collapse {
	border-top: 0px;
}
.navbar-toggle.open .icon-bar:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10px;
    -moz-transform-origin: 10px;
    -ms-transform-origin: 10px;
    -o-transform-origin: 10px;
    transform-origin: 0px; 
}
.navbar-toggle.open .icon-bar:nth-child(2) {
    opacity: 0; 
}
.navbar-toggle.open .icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 8px;
    -moz-transform-origin: 8px;
    -ms-transform-origin: 8px;
    -o-transform-origin: 8px;
    transform-origin: 2.5px;
}
.bar{
	background:$bg-white;
}
.bar-inv{
	background:$bg-celeste;
}
.icon-bar {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	display: block;
	width: 26px;
	height: 2px;
	margin: 0 0 5px;
}
/// primer
.Hero{
	//background-image: url('../img/contacto1.jpg');
	background-attachment: fixed;
	
	background-size: cover;
}
.opacity{
	background: #56D9CD;
	height: 100vh;
	-ms-display: flex;
  	display: flex;
  /* vertical center */
  	align-items: center;
  /* horizontal center */
  	justify-content: center;

}
.nav-transp {
	background: transparent;
}
////titulos
.title{
	color:$bg-celeste;
	font-family: $Sigmar;
	font-size: 3rem;
	padding-bottom: 30px;
}
.titulo{
	display: flex;
    justify-content: space-between;
    p{
	 	animation-delay: 0.2s;
	 	font-family: $titulo-font;
	 	color: $bg-rosa;
	 	font-size: 4rem;
    }

}
//contacme
.contactame{
	position: fixed;
	left: 0;
	top:200px;
	z-index: 2000;
}
.contactame {
	ul {
		list-style: none;
		li{
			 a{
				display: inline-block;
				color: #fff;
				background:#000;
				padding: 10px 15px;
				text-decoration: none;
				-webkit-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
			}
			.fa{
				width: 50px;
			}
			a:hover{
				padding: 10px 30px;
				background: black;
			}
			.fa-facebook{
				background: #3b5998;
			}
			.fa-google-plus{
				background: #DC4A38;
			}
			.fa-linkedin{
				background: #1060A6;
			}

		} 
	}
}

.banner{
	width:50%;
	.marco-pantalla{
		border: 20px solid $bg-border;
		border-radius:15px;
    	width: 100%;
    	.cont-pantalla{
			height: 300px;
	    	.imagen1{
	    		width: 100%;
	    		height: 300px;
	    		background-image:url('../img/hero5.jpg');
	    		background-size:cover;
	    		position:relative;
	    		.imagen2{
	    			background-image:url('../img/portfolio_1.png');
	    			position:absolute;
	    			background-size:cover;
	    			top:0;
	    			left:0;
	    			height:100%;
	    			max-width: 100%;
	    			resize: horizontal;
	    			overflow: hidden;
	    		}
		    	.imagen2:before{
					content:"\2194";
					color:white;
					font-size: 25px;
					background:rgba(0,0,0,0.7);
					height: 100%;
					position:absolute;
					line-height: 300px;
					right: 0;
					top:0;
	    		}
	    		textarea{
					opacity: 0;
					min-width:50%;
					height: 10px;
					position:relative;
					top:50%;
					transform:scaleY(40);
	    			cursor:e-resize;
	    		}
    		}
	    		
    		
    	}

    }

}
	.teclado{
		height: 0;
		border-top:none;
		border-bottom:none;
		border-bottom:25px solid $bg-border;
		border-radius:10px;
	}

.global{
	margin-top: 150px;
	background:linear-gradient(#eee 50%,#333 50%);
	min-height:300px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#toggle{
	display:none;
}
#botton{
	display:block;
	width:200px;
	height:200px;
	background:#fff;
	line-height:200px;
	text-align:center;
	font-size:70px;
	border-radius:50%;
	color:#777;
	cursor:pointer;
	box-shadow:0 12px 30px rgba(0,0,0,0.7);
	margin:auto;
}
#toggle:checked + #botton{
	background: #eee;
	box-shadow:inset 0 12px  35px rgba(0,0,0,0.5);
	color: rgba(0,255,0,0.7);
}
.contenedor{
	width:100%;
}
.luces{
	display:flex;
	margin-top:50px;
	border-top:1x solid #fff;
	justify-content:center;
	img{
		display: block;
		margin: auto;
	}
}

.col-2{
	display:inline-block;
	width:45%;
	border-left: 55px solid transparent
}
.row .col-2:nth-child(2){
	background:$bg-celeste;
	border-: 13px solid #fff;
	 -ms-transform-origin:100% 100%; 
	 -o-transform-origin:100% 100%
}
// sobre mi
.description{
	p{
		//text-align: justify;
	}
	p:first-child{
		padding: 50px 0;
		font-size: 20px;
		color: $bg-celeste;
		font-weight: 300;
	}
	p:last-child{
		//padding-bottom: 200px;
	}
	.foto{
		margin-top: 100px;
	}
}
///lema
.lema{
	color: white;
	-ms-display: flex;
  	display: flex;
  	/* vertical center */
  	align-items: center;
 	 /* horizontal center */
  	justify-content: center;
  	height: 200px;
  	font-size: $font-15;
  	h2{
  		margin: 0;
  	}	
}
#lema{
	background-color: #56D9CD;
}
.about_text{
	h1{
		font-family: 'Candal';
		margin:0;
	}
	h1:first-child{
		font-size: 50px;
		color: $bg-celeste;
		span{
			font-size: 18px;
			font-weight: bold;
			
		}
	}
	h1:last-child{
		color: $bg-celeste;
		span{
			font-size:20px;
			font-weight: bold;
		}
	}
}
.about_p{
	padding-top: 50px;
}

.col-foto{
	p:first-child{
		font-weight: lighter;
		font-size: 30px;
		font-family: $Sigmar;
		color: $bg-celeste;
		margin-top:30px;
	}
	hr:nth-child(2){
		background:$bg-celeste;
		height: 3px;
		border: none;
	}
	p:nth-child(3){
		a{
			display: inline-block;
			width: 240px;
			margin-top: 15px;
			font-weight: bold;
		}
		a:hover{
			color: white;
			background: $bg-celeste;
		}
	}
}

//portafolio
.hero1{
	height:500px;
}
.col-sm-6{
	.portafolio{
		position: relative;
		height: 230px;
		margin-bottom: 30px;
		.slider{
			//@include portfolio(slider,'../img/triangle.png','../img/flat.png','../img/flatness.png')
			width: 100%;
			height: 230px;
			border: 3px solid $bg-celeste;
			margin:auto;
			//background-image:url('../img/triangle.png');
			background-size:100% 100%;
			animation: banner2 15s infinite;
			animation-direction:alternate;
 			@keyframes banner2{
 				0%,30%{
 					background-image:url('../img/triangle.png');
 					opacity:1;
 				}
 				31%,34%{
 					opacity:0.1;
 				}
 				35%,65%{
 					opacity:1;
 					background-image:url('../img/flat.png');
 				}
 				66%,69%{
 					opacity:0.1;
 				}
 				70%, 100%{
 					opacity:1;
 					background-image:url('../img/flatness.png');
 				}
 			}
		}
	}
}
.field1, .field2{
	margin-bottom: 20px;
}
// habilidades


.especialidad{
	a{
		span{
			display: inline-block;
			width: 150px;
			height: 150px;
			font-size: 150px;

		}
	}
	p:nth-child(2){
		font-size: 20px;
		color: $bg-celeste;
	}
	p:last-child{
		font-size: 17px;
		margin-bottom: 50px;


	}

}

//
.cont-habi{
	height: 170px;
	width: 100%;
	position: relative;
	margin-top:20px;
	.cuello{
		position: absolute;
		right: 50%;
		margin-right: -30px;
		width: 60px;
		height: 10px;
		border-radius: 5px;
		border: 2px solid $ensayo;
	}
	.tubo{
		@include conten();
	}
	.id1:before{
		animation: id1 15s infinite;
		@include before(red);
	}
	@keyframes id1{
		50%{
			height: 50px;
		}
		100%{
			height: 100px;
		}
	}
	.id2:before{
		animation: id2 15s infinite;
		@include before(green);
	}
	@keyframes id2{
		50%{
			height: 40px;
		}
		100%{
			height: 90px;
		}
	}
	.id3:before{
		animation: id3 15s infinite;
		@include before(yellow);
	}
	@keyframes id3{
		50%{
			height: 20px;
		}
		100%{
			height: 40px;
		}
	}
	.id4:before{
		animation: id4 15s infinite;
		@include before(violet);
	}
	@keyframes id4{
		50%{
			height: 30px;
		}
		100%{
			height: 60px;
		}
	}
	.id5:before{
		animation: id5 15s infinite;
		@include before(pink);
	}
	@keyframes id5{
		50%{
			height: 45px;
		}
		100%{
			height: 90px;
		}
	}	
	.id6:before{
		animation: id6 15s infinite;
		@include before(rgba(241, 18, 129, 0.73));
	}
	@keyframes id6{
		50%{
			height: 45px;
		}
		100%{
			height: 90px;
		}
	}
	.id7:before{
		animation: id7 15s infinite;
		@include before(skyblue);
	}
	@keyframes id7{
		50%{
			height: 10px;
		}
		100%{
			height: 20px;
		}
	}
	.id8:before{
		animation: id8 15s infinite;
		@include before(blue);
	}
	@keyframes id8{
		0%{
			height: 0px;
		}
		100%{
			height: 60px;
		}
	}
}
///
.portfolio_item .mix{
	display: none;
}
.portfolio_filter{


}
.portfolio-filter{
	 ul{
		margin:0;
		padding: 0;
		list-style: none;
		li{
			border: 3px solid #F1F2F7;
			color: #000;
			display: inline-block;
			margin-top: 10px;
			margin-bottom: 50px;
			padding: 8px 22px;
			cursor: pointer;

		}
		li:hover{
			border:3px solid $bg-celeste;
		}
		li:active{
			border:3px solid $bg-celeste;
			color:#000;
			font-weight: 700;
		}
	}
}
.portfolio_item{
	.mix{
		img{
			float:left;
			width: 200px;
			height: 120px;
			//border: 2px solid $bg-celeste;
		}
		img:hover{
			border: 2px solid $bg-celeste;
		}
	}
}

/// contacto
#contacto{
	padding-top: 50px;
	height: 560px;
	background: #F5A503;
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-position:center;
	background-attachment: fixed;
	color: white;
	.title{
		color: white;
	}
}
	.redes{
		margin:auto;
		margin-top: 50px;
		width: 80%;
		a{
			display: inline-block;
			width: 25px;
			height: 25px;
			color:white;
			font-size: 60px;
			margin: 35px;
		}
		a:hover{
			text-decoration: none;
			color:$bg-celeste;
			
		}
	}
//footer
footer{
	padding-top: 20px;
	padding-bottom: 20px;
	//background: $bg-celeste;
	color: $black;
}