.navbar-fixed-top{
	background:$bg-color;
}
.navbar-brand{
	padding:5px;
	.logo{
		height: 40px;
	}
}
#contendor{
	img{
		width: 50%;
		
	}
}
.hvr-bounce-to-right,.navbar-brand {
	color: #FF358B;
	font-weight:bold;
}	
.carrusel{
	
	margin-top: 50px;
	img{
		height: 100vh;
	}

}
.img-icon{
	img{
		height: 500px;
	}
}
.hero1{
	height:500px;
}
.col-sm-4{
	.portafolio{
		position: relative;
		height: 200px;
		.pantalla{
			position: absolute;
			border: 13px solid black;
			border-radius: 5px;
			.btn-star{
				position: absolute;
				bottom:-12px;
				right: -10px;
				border-radius: 50%;
				height: 10px;
				width: 12px;
				border: 1px solid yellow;

			}
		}
		a {
			.informacion{
				visibility: hidden;
				position: absolute;
				height: 200px;
			}
		}
		a:hover ~ .informacion{
			visibility: visible;
			background: red;
		}
	}
}