
.nav-1{
    top: 0;
    height: 60px;
    position: fixed;
    float: left;
 //   margin-top: 17% ;
    margin-left: 25%;
	z-index:4;
	-webkit-transition: margin-left .5s, margin-top .5s;
}

.name{
	color:white;
	font-family: $titulo-font;
//	font-size: 10rem;
	-webkit-transition: font-size .5s;
}


#logo{
	//z-index:10;
  //  height: 200px;
    -webkit-transition: height .5s;
}

#menu{
	z-index:1;
}

.navbar-fixed-top{
	background:$bg-color;
}
.nav-transp {
	background: transparent;
}
.header{
	background:$bg-celeste;
	color:$text-white;
}
.icon-bar{
	background:$bg-celeste;
}
.navbar-brand{
	padding:5px;
	.logo{
		height: 45px;
		width: 45px;
		display: inline-block;
    	background-size: 70%;
    	background-repeat: no-repeat;
    	background-position: center;
    	border-radius: 0  100% 0  100% / 60%;
    	}
}
.logo-inver1{
	background-image: url(../img/SARITA-IN.png);
	background-color: $text-white;
}
.inver1{
	color: $bg-celeste;
}
.nav {
	display:table;

	li{
		.link-header{
		color: white;
		font-weight: lighter;
		font-family: 'Roboto';
		font-size: 17px;
		}
	 	a:hover{
	 	color: $bg-celeste;
		background: white;
	 	}

	 }
		 	.active{
			color: $bg-celeste;
	 	}
}
.logo-inver{
	//background-image: url(../img/SARITA-02.png);
	//background-color: #fff;
}
.navbar-nav{
	transform: translateX(0%);
	transition: all 0.8s ease-in-out;
}
.navbar-toggle{
	margin-top: 10px;
	margin-bottom: -16px;
}
.navbar-toggle:hover {
	cursor: pointer; 
}
.navbar-toggle.open .icon-bar {
	background: #fff; 
}
.navbar-collapse {
	border-top: 0px;
}
.navbar-toggle.open .icon-bar:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10px;
    -moz-transform-origin: 10px;
    -ms-transform-origin: 10px;
    -o-transform-origin: 10px;
    transform-origin: 0px; 
}
.navbar-toggle.open .icon-bar:nth-child(2) {
    opacity: 0; 
}
.navbar-toggle.open .icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 8px;
    -moz-transform-origin: 8px;
    -ms-transform-origin: 8px;
    -o-transform-origin: 8px;
    transform-origin: 2.5px;
}
.bar{
	background:$bg-white;
}
.bar-inv{
	background:$bg-celeste;
}
.icon-bar {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	display: block;
	width: 26px;
	height: 2px;
	margin: 0 0 5px;
}
/// primer
.opacity{
	background: #56D9CD;
	height: 100vh;
	-ms-display: flex;
  	display: flex;
  /* vertical center */
  	align-items: center;
  /* horizontal center */
  	justify-content: center;

}
.titulo{
	display: flex;
    justify-content: space-between;
    p{
	 	animation-delay: 0.2s;
		font-family:$titulo-font;
	 	color: $bg-rosa;
	 	font-size: 4rem;
    }
}
//contacme
.contactame {
	position: fixed;
	left: 0;
	top:200px;
	z-index: 2000;
	ul {
		list-style: none;
		li{
			 a{
				display: inline-block;
				color: #fff;
				background:#000;
				padding: 10px 15px;
				text-decoration: none;
				-webkit-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
			}
			.fa{
				width: 50px;
			}
			a:hover{
				padding: 10px 30px;
				background: black;
			}
			.fa-facebook{
				background: #3b5998;
			}
			.fa-google-plus{
				background: #DC4A38;
			}
			.fa-linkedin{
				background: #1060A6;
			}
		} 
	}
}
.banner{
	background-image:url('../img/dato.jpg');
	background-repeat:no-repeat;
	height:100vh;
//	background-size:120%;
	animation: movimiento 10s infinite linear alternate;


}

@keyframes movimiento{

	from {
		background-position: bottom left;
	}
	to{
		background-position: top right;
	}
}



.banner{
	width:100%;
	.marco-pantalla{
		border: 20px solid $bg-border;
		border-radius:15px;
    	width: 100%;
    	.cont-pantalla{
			height: 300px;
	    	.imagen1{
	    		width: 100%;
	    		height: 300px;
	    		background-image:url('../img/hero5.jpg');
	    		background-size:cover;
	    		position:relative;
	    		.imagen2{
	    			background-image:url('../img/portfolio_1.png');
	    			position:absolute;
	    			background-size:cover;
	    			top:0;
	    			left:0;
	    			height:100%;
	    			max-width: 100%;
	    			resize: horizontal;
	    			overflow: hidden;
	    		}
		    	.imagen2:before{
					content:"\2194";
					color:white;
					font-size: 35px;
					background:rgba(0,0,0,0.7);
					height: 100%;
					position:absolute;
					line-height: 300px;
					right: 0;
					top:0;
	    		}
	    		textarea{
					opacity: 0;
					min-width:70%;
					height: 10px;
					position:relative;
					top:50%;
					transform:scaleY(40);
	    			cursor:e-resize;
	    		}
    		}		
    	}
    }
}
.teclado{
	height: 0;
	border-top:none;
	border-bottom:none;
	border-bottom:25px solid $bg-border;
	border-radius:10px;
}
.global{
	margin-top: 150px;
	background:linear-gradient(#eee 50%,#333 50%);
	min-height:300px;
	display:flex;
	justify-content:center;
	align-items:center;
}

// sobre mi
.description{
	margin: 20px 0 90px;
	p{
		margin:20px 0;
		font-size: 20px;
		color: $black;
		font-weight:500;
	}
	.hola{
		font-size: 40px;
		color: $bg-celeste;
	}
	.cualidades{
		text-align: center;
		span:{
			display: inline-block;
			margin: 10px 10px;
		}
		span:first-child{
			display: inline-block;
			width: 70px;
			height: 60px;
			color: $bg-celeste;
			font-size: 40px;
		}
		span:last-child{
			font-size: 15px;
			font-weight: bold;
		}

	}
	.foto{
		//width: 300px;
		//height: 300px;
		border-radius: 50%;
		display: inline-block;
		background-image:url("../img/sobre_mi2.jpg"); 
    	background-size: 150%;
    	background-position: 50% 0%;
	    margin: auto;
		}
	.foto:hover{
		opacity: 0.8;
	}
}

///lema
.lema{
	//color: $bg-celeste;
	color: white;
	-ms-display: flex;
  	display: flex;
  	/* vertical center */
  	align-items: center;
 	 /* horizontal center */
  	justify-content: center;
  	height: 200px;
  	font-size: $font-15;

}
#lemas{
	background-image: url("../img/profesiones_futuro.jpg");
}

#lema{
	background-color: #56D9CD;
}
#lema, #lemas{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	.container{
		#maquina{
		font-size: 35px;
		font-weight:500;
		color: $bg-celeste;
		}
	}
}
.about_text{
	h1{
		font-family: 'Candal';
		margin:0;
	}
	h1:first-child{
		font-size: 50px;
		color: $bg-celeste;
		span{
			font-size: 18px;
			font-weight: bold;
			
		}
	}
}
.about_p{
	padding-top: 20px;
}

.col-foto{
	p:first-child{
		font-weight: lighter;
		font-size: 30px;
		font-family: $Sigmar;
		color: $bg-celeste;
		margin-top:30px;
	}
	hr:nth-child(2){
		background:$bg-celeste;
		height: 3px;
		border: none;
	}
	p:nth-child(3){
		a{
			display: inline-block;
			width: 240px;
			margin-top: 15px;
			font-weight: bold;
		}
		a:hover{
			color: white;
			background: $bg-celeste;
		}
	}
}

.especialidad{
	margin:20px 0 150px;
	a{
		span{
			display: inline-block;
			width: 150px;
			height: 150px;
			font-size: 150px;

		}
	}
	a:hover{
		color: $bg-celeste;
	}
	p:nth-child(2){
		font-size: 20px;
		color: $bg-celeste;
	}
	p:last-child{
		font-size: 17px;
		margin-bottom: 50px;
		font-weight: bold;


	}

}

///
.portfolio_item .mix{
	display: none;
}
.portfolio-filter{
	 ul{
		margin:0;
		padding: 0;
		list-style: none;
		li{
			border: 3px solid #F1F2F7;
			//color: #000;
			display: inline-block;
			margin-top: 10px;
			margin-bottom: 50px;
			padding: 8px 22px;
			cursor: pointer;
		}
		li:hover{
			border:3px solid $bg-celeste;
		}
		li:active{
			border:3px solid $bg-celeste;
			color:#000;
			font-weight: 700;
		}
	}
}

.portfolio_item{
	.mix{
		-webkit-perspective:700;
		.carta{
			width: 300px;
			height: 200px;
			position: relative;
			transform-style:preserve-3d;
			transition:3s;
			box-shadow: 0px 0px 5px black;
		}
		.carta:hover{
			transform:rotateY(180deg);
		}
		.lado{
			width: 100%;
			height: 100%;
			backface-visibility:hidden;
			position: absolute;
		}
		.frente{
			border-radius: 5px;
		}
		.atras{
			background: #fff;
			transform: rotateY(180deg);
			h4{
				margin-top: 0;
				background: $bg-celeste;
				color: white;
				padding: 10px 0;
			}
			p{
				font-size: 16px;
				margin:0;
				color: black;
				font-weight: bold;
			}
			.texto{
				padding-left: 25px;
			}
			a{
				text-align: center;
				background: $bg-celeste;
				display:inline-block;
				width: 120px;
				font-size: 16px;
				margin:5px;
				color: white;
				border-radius: 8px;
				.fa{
					color: white;
					margin-left: 5px;
				}
			}
			a:hover{
				background: #31d0c1;

				
			}
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
}
.info{
	background:red;
}

/// contacto
#contacto{
	padding-top: 50px;
	//height: 560px;
	background: #F5A503;
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-position:center;
	background-attachment: fixed;
	color: white;
	.title{
		color: white;
	}
}
.mail{
	color: $bg-celeste;
	font-weight: bold;
}
.mail:hover{
	color: white;
	font-weight: bold;
}

.foto1{
	    // border-radius: 50%;
	    width: 100%;
	    background-image: url("../img/sobremi.png");
	    height: 300px;
    	background-size: 150%;
    	background-position: 50% 0%;
	    margin: auto;
}
.foto1:hover{
	opacity: 0.8;
}
.btn-enviar{
	margin-top: 5px;
	background: $bg-celeste;
	color: white;
	font-weight: bold;
	font-size: 23px;
	border: 1px solid $bg-celeste;
}
.btn-enviar:hover{
	color: $bg-celeste;
	background: white;
	border: 1px solid white;
	font-weight: bold;

}
//footer
footer{
	padding-top: 20px;
	padding-bottom: 20px;
	background: black;
	color: $bg-celeste;

}

.mensaje{
	margin-top: 20px;
	p{
		font-size: 20px;
	}
	p:first-child{
		font-size: 24px;
	}
}