.navbar-fixed-top{
	background:$bg-color;
}
.header{
	background:$bg-celeste;
	color:$text-white;
}
.icon-bar{
	background:$bg-celeste;
}
.navbar-brand{
	padding:5px;
	.logo{
		height: 50px;
		width: 50px;
		display: inline-block;
    	background-size: 70%;
    	margin-top: -5px;
    	
    	background-repeat: no-repeat;
    	background-position: center;
    	border-radius: 0  100% 0  100% / 60%;
    		}
}
#contendor{
	img{
		width: 50%;
	}
}
#collapse ul li .inver1{
	color:$bg-celeste;
}
#collapse ul li .inver{
	color:$text-white;
}
.logo-inver1{
	background-image: url(../img/SARITA-IN.png);
	box-shadow: 10px 15px 10px #3A6F77;
	background-color: $text-white;

}
.logo-inver{
	background-image: url(../img/SARITA-02.png);
	background-color: #fff;
	box-shadow: 10px 15px 10px  $bg-celeste;
}
.navbar-nav{
	transform: translateX(0%);
	transition: all 0.8s ease-in-out;
}
.navbar-toggle{
	margin-top: 18px;
	margin-bottom: -16px;
}
.navbar-toggle:hover {
	cursor: pointer; 
}
.navbar-toggle.open .icon-bar {
	background: #fff; 
}
.navbar-collapse {
	border-top: 0px;
}
.navbar-toggle.open .icon-bar:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10px;
    -moz-transform-origin: 10px;
    -ms-transform-origin: 10px;
    -o-transform-origin: 10px;
    transform-origin: 0px; 
}
.navbar-toggle.open .icon-bar:nth-child(2) {
    opacity: 0; 
}
.navbar-toggle.open .icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 8px;
    -moz-transform-origin: 8px;
    -ms-transform-origin: 8px;
    -o-transform-origin: 8px;
    transform-origin: 2.5px;
}
.bar{
	background:$bg-white;
}
.bar-inv{
	background:$bg-celeste;
}
.icon-bar {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	display: block;
	width: 26px;
	height: 2px;
	margin: 0 0 5px;
}
/// primer
.carousel-inner{
	padding-top: 50px;
	height: 100vh;
	.item{
		img{
			width: 100%;

		}
	}
}
////titulos
.title{
	color:$bg-celeste;
	font-family: $Sigmar;
	font-size: 3rem;
	padding-top: 30px;
	padding-bottom: 30px;
}
////
/// hero-encender
.global{
	background:linear-gradient(#eee 50%,#333 50%);
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
#toggle{
	display:none;
}
#botton{
	display:block;
	width:200px;
	height:200px;
	background:#fff;
	line-height:200px;
	text-align:center;
	font-size:70px;
	border-radius:50%;
	color:#777;
	cursor:pointer;
	box-shadow:0 12px 30px rgba(0,0,0,0.7);
	margin:auto;
}
#toggle:checked + #botton{
	background: #eee;
	box-shadow:inset 0 12px  35px rgba(0,0,0,0.5);
	color: rgba(0,255,0,0.7);
}
.contenedor{
	width:100%;
}
.luces{
	display:flex;
	margin-top:50px;
	border-top:1x solid #fff;
	justify-content:center;
	img{
		display: block;
		margin: auto;
	}
}
#luz{
	opacity:0;
}
#toggle:checked ~ .luces #luz{
opacity:1;
transition: all 0.5s;
}

#luz{
	opacity:0;
	transition:all 0.5s;
}
#toggle:checked ~ .luces #luz{
	opacity:1;
}
.col-2{
	display:inline-block;
	width:45%;
	border-left: 55px solid transparent
}
.row .col-2:nth-child(2){
	background:$bg-celeste;
	border-: 13px solid #fff;
	 -ms-transform-origin:100% 100%; 
	 -o-transform-origin:100% 100%
}
// sobre mi
.col-etiqueta{
	p{
		color:black;
		font-size: 30px;
	}
}
.ln1{
	background: $bg-celeste;
	height: 1px;

}
.contenedor{
	height: 30px;
}
.etiqueta{
    width: 0px;

    border-left: 50px solid $bg-celeste;
    border-right: 50px solid $bg-celeste;
    left:50%;
    margin-left:-50px;
    position: relative;
 }
.etiq  {
	height: 190px;
    border-bottom: 35px solid transparent;
    top:0;
}
.etiq2{
    border-top: 35px solid transparent;
    position: relative;
    bottom: 0;
    height: 160px;
}
 .poligono{
 	margin:20px 0;
 	width: 120px;
 	height: 120px;
 	background-image:url('../img/sobre_mi.jpg');
    background-position: 50% 34%;
    background-size: 150%;
    border-radius: 50%;
    margin-left: 75px;
 }
.col-foto{
	p:first-child{
		font-weight: lighter;
		font-size: 30px;
		font-family: $Sigmar;
		color: $bg-celeste;
		margin-top:50px;
	}
	hr:nth-child(2){
		background:$bg-celeste;
		height: 3px;
		border: none;
	}
	p:nth-child(3){
		a{
			display: inline-block;
			width: 240px;
			margin-top: 15px;
			font-weight: bold;
		}
		a:hover{
			color: white;
			background: $bg-celeste;
		}
	}
}
.description{
	.col-sm-6{
		p{
			margin-top: 25px;
			font-family: $Poiret;
			color:$black;
			font-size: 19px;
			font-weight: bold;
		}
	}
	.col-sm-6{
		.foto{
			height: 350px;
			width: 90%;
		}
		h2{
			font-weight:bold;
			color: #337ab7;
		}	
	}
}
//Portafolio
.container{
	.portafolio{
		.col-sm-8{
			img{
				height: 250px;
			}
		}

	}
}
//portafolio
.img-icon{
	img{
		height: 500px;
	}
}
.hero1{
	height:500px;
}
.col-sm-4{
	.portafolio{
		position: relative;
		height: 250px;
		margin-bottom: 20px;
		.pantalla{
			box-shadow: -5px -5px 5px 0px rgba(209,209,209,1);
			position: absolute;
			border: 13px solid black;
			border-radius: 8px;
			.btn-star{
				position: absolute;
				bottom:-10px;
				right: 50%;
				border-radius: 50%;
				height: 10px;
				width: 12px;
				margin-right: -6px;
				background-image: url('../img/windows.png');
   				background-size: cover;
			}
			.parante{
				position: absolute;
				width: 50px;
				bottom: -43px;
				height: 30px;
				right: 50%;
				background: black;
				margin-right: -25px;
				box-shadow: -11px 1px 7px -2px rgba(209,209,209,1);
			}
			.base{
				position: absolute;
				width: 100px;
				bottom: -50px;
				height: 0px;
				right: 50%;
				margin-right: -50px;
    			border-right: 5px solid transparent;
    			border-left: 5px solid transparent;
    			border-bottom: 10px solid black;
			}
		}
		a {
			.informacion{
				visibility: hidden;
				position: absolute;
				height: 200px;
			}
		}
		a:hover ~ .informacion{
			visibility: visible;
			background: red;
		}
	}
}
// Habilidades
// .col-sm-3
// 	.cont-habi
// 		.cuello
// 		.tubo
// 		.cont
// 		p=texto
.cont-habi{
	height: 170px;
	width: 100%;
	position: relative;
	margin-top:20px;
	.cuello{
		position: absolute;
		right: 50%;
		margin-right: -30px;
		width: 60px;
		height: 10px;
		border-radius: 5px;
		border: 2px solid $ensayo;
	}
	.tubo{
		width: 40px;
		height: 130px;
		position: absolute;
		right: 50%;
		margin-right: -20px;
		top: 9px;
		border: 2px solid $ensayo;
		border-bottom-left-radius:15px ;
		border-bottom-right-radius:15px ;
	}
	.cont{
		width: 40px;
		height: 104px;
		position: absolute;
		right: 50%;
		margin-right:-20px;
		top: 35px;
		border: 2px solid $ensayo;
		border-bottom-left-radius:15px ;
		border-bottom-right-radius:15px ;
		background: red;
	}

}
.field1{
	.col-sm-3:first-child{
		.cont-habi{
			.cont{
				height: 104px;
				background: red;
				top: 35px;
			}
		}
	}
	.col-sm-3:nth-child(2){
		.cont-habi{
			.cont{
				height: 104px;
				background: green;
				top: 35px;
			}
		}
	}
	.col-sm-3:nth-child(3){
		.cont-habi{
			.cont{
				height: 104px;
				background: #3498DB;
				top: 35px;
			}
		}
	}
	.col-sm-3:last-child{
		.cont-habi{
			.cont{
				height: 104px;
				background: #CDBFE3;
				top: 35px;
			}
		}
	}

}
.field2{
	margin-bottom: 50px;
	.col-sm-3:first-child{
		.cont-habi{
			.cont{
				height: 104px;
				background: #F300D3;
				top: 35px;
			}
		}
	}
	.col-sm-3:nth-child(2){
		.cont-habi{
			.cont{
				height: 104px;
				background: yellow;
				top: 35px;
			}
		}
	}
	.col-sm-3:nth-child(3){
		.cont-habi{
			.cont{
				height: 104px;
				background: blue;
				top: 35px;
			}
		}
	}
	.col-sm-3:last-child{
		.cont-habi{
			.cont{
				height: 104px;
				background: orange;
				top: 35px;
			}
		}
	}

}
/// contacto
#contacto{
	padding-top: 50px;
	height: 540px;
	background-image: url("../img/contacto4.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: white;
	.title{
		color: white;
	}
}
	.redes{
		a{
			display: inline-block;
			width: 60px;
			height: 60px;
			color:white;
			font-size: 60px;
		}
		a:hover{
			text-decoration: none;
		}
	}
//footer
footer{
	padding-top: 20px;
	padding-bottom: 20px;
	//background: $bg-celeste;
	color: $black;
}