$Poiret:'Poiret One';
$Sigmar:'Sigmar One';
$bg-color:#ffffff;
$bg-celeste:#33ccff;
$bg-white:#fff;
$text-color:#FF358B;
$text-white:#fff;
$black:#2C3E50;
$ensayo:rgba(44, 62, 80, 0.15);
$bg-border:black;