include mixins/mixins.jade
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Sarita Coder
	link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet", href="./font-awesome/css/font-awesome.min.css")
body
	// Fixed navbar
	#menu.navbar.navbar-fixed-top.nav-transp(role='navigation')
		.container.padd
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#hero')
					span.logo
			#collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li.active
						a.link1.link-header(href='#Sobremi') Sobre mí
					li
						a.link2.link-header(href='#portafolio') Portafolio
					li
						a.link3.link-header(href='#habilidades') Habilidades
					li
						a.link4.link-header(href='#contacto') Contacto
	//fin header	
	.Hero#hero
		.opacity
			.banner
				.marco-pantalla
					.cont-pantalla
						.imagen1
							.imagen2
								textarea(readonly)
				.teclado
					.touch
					.focos

	#Sobremi
		.container.text-center
			.row
				.col-sm-3
					.col-etiqueta.text-center
						.contedor
							.etiqueta.etiq
						.poligono
						p 
							a.actitudes(href="") Fuerza
						hr.ln1
						p 
							a.actitudes(href="") Perseverante
						hr.ln1
						p 
							a.actitudes(href="") Naturaleza
						
						.contenedor.etiqueta.etiq2
				.col-sm-9.pd-50
					.row
						.col-foto
							p SARITA ROMAN  
							hr.ln1
							p 
								a.carrera(href="") ECONOMISTA
								a.carrera(href="") FRONTED
								a.carrera(href="") GEOMÁTICA
					.row.description
						.col-sm-6
							p Front-end, apasionada por el código, con muchas ganas para afrontar cada reto que se me presente por que siento que es una nueva oportunidad de demostrar que todo es posible, busco desarrollarme en el mundo tecnológico por que desde que ingrese a la Laboratoria descubri que toda idea o sueño se puede materializar, como tambien amar a Google, se ha convertido en mi compañero de día y con el descubri que podemos programar un mundo diferente. Fueron 5 meses que permitieron conocer el poder que llevamos dentro y más aun cuando trabajamos en grupo. Otra cosa que me enamora es la naturaleza sobre todo las cataratas orgulloza de mi país.
						.col-sm-6
							img.foto.w-100(src="img/sobremi.png")
							h2 "Programando con pasión y espíritu verde"
														
	.main#portafolio
		.container.text-center
			.row.portafolio
				+title("Portafolio")
				+portafolio("portfolio_1",2,"BLOG LOVE","HTML","CSS")
				+portafolio("portfolio_1",3,"BLOG LOVE","HTML","CSS","SASS")
				+portafolio("portfolio_1",4,"BLOG LOVE","HTML","CSS","SASS","JADE")
			.row.portafolio
				+portafolio("portfolio_1",4,"BLOG LOVE","HTML","CSS","SASS","JADE")
				+portafolio("portfolio_1",3,"BLOG LOVE","HTML","CSS","JS")
				+portafolio("portfolio_1",5,"BLOG LOVE","HTML","CSS","SASS","JADE","JS - Jqry")
	.main#habilidades
		.container.text-center
			.row
				+title("Habilidades")
			.row.field1
				.pulsate
				.pulsate
				+habilidades("Html 80%",'id1')
				+habilidades("Css3 75%",'id2')
				+habilidades("Js 30%",'id3')
				+habilidades("Bootstrap 50%",'id4')
			.row.field2
				+habilidades("Jade 70%",'id5')
				+habilidades("Sass 70%",'id6')
				+habilidades("Wordpress 0%",'id7')
				+habilidades("Base de Datos 40%",'id8')

	.main#contacto
		.container.text-center.contacto
			.row
				+title("Contactame")
			.row
				.redes
					a(href="https://github.com/sarita-coder").fa.fa-github
					a(href="https://plus.google.com/u/0/103995783096870228612/about").fa.fa-google-plus-square
					a(href="https://www.facebook.com/edised.roman").fa.fa-facebook
					a(href="https://www.linkedin.com/in/saritacoder").fa.fa-linkedin-square
				.correo
					p sarita.roman.colonio@gmail.com


	footer
		.container.text-center
			.row
				p Copyright &#169; 2016 | Sarita Déside Román Colonio 


script(src='js/jquery.js')
script(src='http://code.jquery.com/jquery-1.11.2.min.js')
script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
script(type='text/javascript', src='js/bootstrap.min.js')
script(src='js/scroll.js')
script(src='js/main.js')
	