include mixins/mixins.jade
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Sarita Coder
	link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet", href="./font-awesome/css/font-awesome.min.css")
body
	// Fixed navbar
	#menu.navbar.navbar-fixed-top(role='navigation')
		.container.padd
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#')
					span.logo
			#collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li.active
						a.link-header(href='#Sobremi') Sobre mí
					li
						a.link-header(href='#portafolio') Portafolio
					li
						a.link-header(href='#contact') Habilidades
					li
						a.link-header(href='#contact') Contacto
	//fin header	
	.Hero
		.container-fluid
			.row
				#carousel.carousel.slide(data-ride="carousel")
					ol.carousel-indicators
						li.active(data-target="#carousel-example-generic" data-slide-to="1")
						li.active(data-target="#carousel-example-generic" data-slide-to="2")
					.carousel-inner
						.item.active
							+img-100-jpg("hero1")
							.carousel-caption
						.item
							+img-100-jpg("hero2")
							.carousel-caption
						.item
							+img-100-jpg("hero3")
							.carousel-caption
						a.left.carousel-control(href="#carousel" data-slide="prev")
							span.glyphicon.glyhicon-chevron-left
						a.right.carousel-control(href="#carousel" data-slide="prev")
							span.glyphicon.glyhicon-chevron-right
	.main
		.container-fluid.text-center
			#Sobremi.pt-100
				.row
					+title("Sobre mi")
				.row
					.col-2
						.hoverSM
							+img-100-png("sobremi")
					.col-2
						.description
							p Coder apasionada por el código 

							
	.main
		.container.text-center
			#portafolio.pt-100
				.row
					+title("Portafolio")
				.row
					.img-icon
				.row
					+img-100-png("habilidades_3")
					+portafolio("portfolio_1","BLOG LOVE")
					+portafolio("portfolio_1","BLOG LOVE")
					+portafolio("portfolio_1","BLOG LOVE")
				.row
					+portafolio("portfolio_1","BLOG LOVE")
					+portafolio("portfolio_1","BLOG LOVE")
					+portafolio("portfolio_1","BLOG LOVE")







script(src='js/jquery.js')
script(src='http://code.jquery.com/jquery-1.11.2.min.js')
script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
script(type='text/javascript', src='js/bootstrap.min.js')
script(src='js/scroll.js')
script(src='js/main.js')
	