include mixins/mixins.jade
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Sarita Coder
	link(rel="stylesheet", href="font-awesome/css/font-awesome.min.css")
	link(rel="icon" href="img/SARITA-02.png")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="css/animate.css")
	link(rel="stylesheet", href="css/ihover.css")
	link(rel="stylesheet", href="css/main.css")
	
body(data-spy="scroll" data-target=".navbar" data-offset="50")
	// Fixed navbar
	#menu.navbar.navbar-fixed-top.nav-transp(role='navigation')
		.container.padd
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#hero')
					span.logo 
			#collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li.active.hidden
						a(href="")
					li
						a.link1.link-header(href='#Sobremi') Sobre mí
					li
						a.link2.link-header(href='#portafolio') Portafolio
					li
						a.link3.link-header(href='#habilidades') Habilidades
					li
						a.link4.link-header(href='#contacto') Contacto
	//fin header	
	.Hero#hero
		.opacity
			.banner
				.titulo
					p.text-you.animated.fadeInLeft Lo que tú ves
					p.text-i.animated.fadeInRight Lo que yo hago
				.marco-pantalla
					.cont-pantalla
						.imagen1
							.imagen2
								textarea(readonly)
				.teclado
					.touch
					.focos
				
	.contactame
		ul
			li
				a(href="https://www.facebook.com/edised.roman" target="_blank").fa.fa-facebook
			li 
				a(href="https://github.com/sarita-coder" target="_blank").fa.fa-github
			li
				a(href="https://www.linkedin.com/in/saritacoder" target="_blank").fa.fa-linkedin
			li
				a(href="https://plus.google.com/u/0/103995783096870228612/about" target="_blank").fa.fa-google-plus
			li
				a(href="mailto:sarita.roman.colonio@gmail.com").fa.fa-envelope-o
			//li
				a(href="" target="_blank") Contactame

	.main#Sobremi
		.container.text-center
			.row
				+title("Sobre mí")
			.row.description
				.col-sm-5.col-sm-offset-1.text-center
					p.hola.text-left ¡Hola!
					p Mi nombre es Sarita, soy desarrolladora front-end mi pasión por el mundo digital se ha inclinado por la programación desde que ingrese a la Laboratoria descubrí que toda idea o sueño se puede materializar. Me encanta lo que hago y disfruto mucho trabajando en equipo.
					.cualidades
						.row
							+cualidad("fa-heart-o","Naturaleza")
							+cualidad("fa-thumbs-o-up","Fuerza")
							+cualidad("fa-lightbulb-o","Inteligente")
							+cualidad("fa-users","Equipo")
							+cualidad("fa-laptop","Compañero")
							+cualidad("fa-globe","Viajar")

				.col-sm-5.text-center
					.foto

	.w-100#lema
		.container.lema.text-center
			.w-100#maquina
																		
	.main.our_woks_area.section-padding#portafolio
		.container
			.row.text-center
				+title("Portafolio")
			.row
				.col-sm-12
					.about_p.text-center
						p Aquí algunos de los trabajos realizados por tipo de tecnología. 
			.row.pb-50
				.col-md-12.text-center
					.portfolio-filter
						ul
							li.filter.active(data-filter="all") All
							li.filter(data-filter=".css") CSS
							li.filter(data-filter=".sass") SASS
							li.filter(data-filter=".jade") JADE
							li.filter(data-filter=".js") JS
							li.filter(data-filter=".grupal") Grupal
					.portfolio_item
						+portafolio("jade sass","flat-theme-01","Flat Theme","http://sarita-coder.github.io/Love-Blog")
						+portafolio("sass jade","future-imperfect","Future Imperfect","http://sarita-coder.github.io/future-imperfect")
						+portafolio("jade grupal sass","republica","República","http://emilyvivancocuba.github.io/Examen-grupal-La-Republica")
						+portafolio("css","whatsap","Whaptsap","http://sarita-coder.github.io/whassapt")
						+portafolio("sass","triangle","Triangle","http://sarita-coder.github.io/triangle-free")
						+portafolio("js","reloj_digital","Reloj Digital","http://sarita-coder.github.io/reloj-digital")
						+portafolio("sass grupal","flat","Flat Theme","http://sazabache.github.io/Flat-theme")


	.w-100#lema
		.container.lema.text-center
			h2 Front-end, apasionada por el código y amante de la naturaleza.

		
	.main#habilidades
		.container.text-center
			.row
				+title("Habilidades")
			.row
				.col-sm-4.col-xs-12.col-sm-offset-2
					.especialidad
						a(href="")
							span.fa.fa-code
						p Desarrolladora Web
						p Maquetación de páginas web responsive con diferentes tecnologías: Html, Css, Sass, Jade, Js, Jquery, Worpress. Con nociones en Modelo Vista Controlador con Java, Base de datos con Sql, Postgres y MySql.

				.col-sm-4.col-xs-12
					.especialidad
						a(href="")
							span.fa.fa-globe
						p Geomática
						p Desarrollo de aplicaciones para la creación y administración de informácion espacial para mejorar la experiencia de navegabilidad del ususario para acceder a información y compartirla de manera efectiva.

	.main#contacto
		.container.text-center.contacto
			.row
				+title("Contactame")
			.row
				p 
					a.mail(href="mailto:sarita.roman.colonio@gmail.com") sarita.roman.colonio@gmail.com
				p
					a.mail(href="") 991645498
				.col-sm-4.col-sm-offset-1
					.foto1
				.col-sm-6
					form
						.form-group.text-left
							label.w-100(for="exampleInputEmail1") Name
								input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Name")
							label.w-100(for="exampleInputEmail1") Email
								input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Email")
							textarea.form-control(rows="3") Hola, Tengo un proyecto y me gustaría que seas parte del equipo por que necesitamos personas comprometidas y creativas. 

							button.btn-enviar.btn.btn-default(type="submit") Enviar





					

		
	footer
		.container.text-center
			.row
				p Copyright &#169; 2016 | Sarita Déside Román Colonio 


script(src='js/jquery.js')
script(src='http://code.jquery.com/jquery-1.11.2.min.js')
script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
script(src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js")
//script(src='js/jquery.mixitup.js')	
script(type='text/javascript', src='js/bootstrap.min.js')
script(src='js/scroll.js')
script(src='js/main.js')
	